<div class="footer">
    <img style="width: 8%; margin-left: 25px;" src="/icons/logo.svg">
    <div>
        <h2 class="white-text" style="margin: 0px 20px;">anicontent.xyz ⓒ 2025</h2>
        <p class="gray-text" style="margin-top: -20px; margin: 0px 20px;">Все права не защищены</p>
    </div>
    <div class="telegram-button accent-button">
        <img src="/icons/telegram.svg">
    </div>
    <div class="discord-button accent-button">
        <img src="/icons/discord.svg">
    </div>
    <div class="vk-button accent-button">
        <img src="/icons/vk.svg">
    </div>
</div>