<div class="header">
    <img style="width: 8%; margin-left: 20px;" src="/icons/logo.svg">
    <a class="white-text" href="/" style="margin: 0px 20px 0px 20px;">Главная</a>
    <a class="white-text" href="/catalog" style="margin: 0px 1210px 0px 0px;">Каталог</a>
    <div class="notifications-button dark-button">
        <img src="/icons/notifications.svg">
    </div>
    <div class="account-button accent-button">
        <img src="/icons/account.svg">
    </div>
</div>