<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/theme.css" rel="stylesheet">
    <link href="../styles/list.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <title>AniContent</title>
</head>
<body>
    <%- include("./elements/header.ejs") %>

    <img src="<%= icon %>">
    <h1><%= name %></h1>
    <p><%= desc %></p>

    <script src="../scripts/homePage.js"></script>
</body>
</html>